/* Global styles */
* {
    background-image: none;
    box-shadow: none;
}

/* Window styles */
window {
    background-color: rgba(0, 0, 0, 0.95); 
}

/* Button styles */
button {
    border-radius: 40px; 
    border-color: #000000; 
    text-decoration-color: #FFFFFF;
    color: #FFFFFF;
    background-color: #1a1a1a; 
    border-style: solid;
    border-width: 1px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

 button:hover {
    background-color: #292929;
    outline-style: none;
}

/* Lock button */
#lock {
    background-image: url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png");
}

/* Logout button */
#logout {
    background-image: url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png");
}

/* Suspend button */
#suspend {
    background-image: url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png");
}

/* Hibernate button */
#hibernate {
    background-image: url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png");
}

/* Shutdown button */
#shutdown {
    background-image: url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png");
}

/* Reboot button */
#reboot {
    background-image: url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png");
}

